.header {
  background: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
}

.headerImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.headerImage {
  height: 60px;
}